* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  height: 200px;
  line-height: 200px;
  border-bottom: 1px solid black;
}

.App-header h1 {
  margin: 0;
}

.App-header a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  height: 100vh;
}

.sidebar {
  border: 1px solid black;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

.mainview {
  flex-grow: 4;
  text-align: center;
  padding-top: 20px;
}

.note-content {
  text-align: left;
  width: 80%;
  margin-left: 20px;
}